<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

		<p><a href="http://www.shishirsinha.co/"><italics><strong>Reaction Tester Game</a></italics></strong></p>
		<p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
